{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Seleccionar columnas y rango de temperatura</h2>
    <form action="{% url 'process_file' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="file_path" value="{{ file_path }}">
    
        <div id="columns-container">
            <label for="temp_columns">Selecciona las columnas de temperatura:</label>
            <select name="temp_columns" class="form-control mb-3 select2" id="temp_columns" multiple="multiple">
                {% for col in columns %}
                    <option value="{{ col }}">{{ col }}</option>
                {% endfor %}
            </select>
            
        </div>
    
        <label for="min_temp">Temperatura mínima:</label>
        <input type="number" step="0.1" name="min_temp" class="form-control mb-3" required>
    
        <label for="max_temp">Temperatura máxima:</label>
        <input type="number" step="0.1" name="max_temp" class="form-control mb-3" required>
    
        <button type="submit" class="btn btn-success">Aplicar Filtros</button>
    </form>
</div>

<!-- Activar Select2 en el select -->
<script>
    $(document).ready(function() {
        $('select.select2').select2({
            placeholder: "Selecciona una opción",
            allowClear: true
        });
    });
</script>


{% endblock %}
