<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Subir Archivo</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/booststrap@5.3.0/dist/css/booststrap.min.css">
    </head>
    <body>
       <div class="container mt-5">
        <h2 class="mb-4">Subir Archivo</h2>
        <form action="=" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" class="form-control mb-3" required>
            <button type="submit" class="btn btn-primary">Subir</button>
        </form>
       </div> 
    </body>
</html>